/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	h1{
		font-size: 25px;
	}
	.col-1{
		width: 115px;
		margin-left: 18px;
	}
	.col-2 {
        width: 138px;
        height: 146px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.col-2{
	    width: 163px;
    	height: 151px;
}

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.col-2 {
    	width: 136px;
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.col-1{
		width: 182px;
		height: 120px;
	}
	.col-2{
	    width: 227px;
	    height: 172px;
}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
	.col-1{
		width: 118px;
	}

}